<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.sbelang.org/dsl/SbeLangDsl"
			class = "org.sbelang.dsl.sbeLangDsl.SbeLangDslPackage"
			genModel = "model/generated/SbeLangDsl.genmodel" />
	</extension>
</plugin>
